.experienceBar{
    display: flex;
    align-items: center;
}

.experienceBar span{
    font-size: 1rem;
}

.experienceBar > div{ //pega a primeira div apenas, dentro da experience bar
    flex: 1; //ocupar largura maxima do container
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem; //20px nas laterais
    position: relative;
}

.experienceBar > div > div{ 
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExperience{
    position: absolute;
    top: 12px;
    transform: translateX(-50%); //relativamente à posição atual andar para a esquerda no eixo x 50%
}